<sly data-sly-test="${wcmmode.edit}">
    <p data-emptytext="${component.title}">${component.title}</p>
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='mycloth.components.experience-fragment'}"/>
</sly>

<sly data-sly-use.navigation="com.mycloth.core.models.MainNavigationImp"></sly>

<sly data-sly-template.navItems="${@ items}">
    <ul data-sly-list.item="${items}">
        <li class="${item.children.size > 0 ? 'has-children' : ''}">
            <a href="${item.path @ extension='html'}">${item.title}</a>
            <sly data-sly-test="${item.children.size > 0}">
                <sly data-sly-call="${navItems @ items=item.children}"></sly>
            </sly>
        </li>
    </ul>
</sly>

<nav class="cmp-nav" aria-label="Main navigation">
    <button class="cmp-nav__toggle" type="button" aria-label="Toggle navigation" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </button>
    <sly data-sly-call="${navItems @ items=navigation.items}"></sly>
</nav>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.js @ categories='mycloth.components.experience-fragment'}"/>
</sly>
