<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.css @ categories='mycloth.components.myclothlogo'}"/>
  <sly data-sly-call="${clientlib.js @ categories='mycloth.components.myclothlogo'}"/>
</sly>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.css @ categories='mycloth.components.myclothlogo'}"/>
</sly>

<sly data-sly-use.model="com.mycloth.core.models.MyClothLogoModel">
    <a class="cmp-myclothlogo-link"
       href="${model.link @ context='uri'}"
       aria-label="${model.text} home">
        <span class="cmp-myclothlogo-mark" aria-hidden="true">M</span>
        <span class="cmp-myclothlogo-wordmark">
            <span class="cmp-myclothlogo-name">${model.text}</span>
            <span class="cmp-myclothlogo-trade">TRADE</span>
        </span>
    </a>
</sly>